/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     border: 1px dotted gray;
     padding: 20px;
		 background-color:powderblue;
}

project{
	margin-left: 20px;
}

.jumbotron-container {
	position: relative;
     margin-top: 50px;
     margin-bottom: 20px;
     padding: 20px;
}

p {
 font-family: Comic Sans;
 font-size: 20px;
 margin-left: 20px;
}


h1 {
 font-family: Comic Sans;
 font-size: 40px;
}

h2 {
	font-family: Comic Sans;
	font-size: 30px;
	margin-left: 20px;
}

h3 {
	font-family: Comic Sans;
	font-size: 30px;
}

h4 {
	font-family: Comic Sans;
	font-size: 30px;
	margin-left: 20px;
}

a{
	margin-left: 20px;
}
